body {
    background-color: rgb(134, 134, 156, 0.3);
    margin: 10px 30px 0 30px;

}

.header-pages-name {
    background-color: blue;
    border-radius: 30px;
}

.homepage-logo {
    display: block;
    margin: 0 auto;
    height: 400px;
    width: 400px;
    
}

.homepage-ulist {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    align-items: center;
    background-color: black;
    height: 50px;    
    border: 5px solid #fff;    
    
}

.homepage-ulist > li {
    border: 2px solid yellow;   

}



img {
    display: block;
    margin: auto;
    height: 350px;
    width: 350px;
}

h1 {
    color: white;
    background-color: black;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}



h3 {
    font-style: italic;
    font-weight: bold;
}

ol {
    text-align: justify;
}

p {
    text-align: justify;

}

a {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.position {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    text-align: end;
    font-size: 32px;
           
}
a:hover {
    color: black;
}

.loubia-desc {
    display: flex;    
    
    justify-content: space-around;
    
}
.loubia-desc > * {
    border: 2px solid black;
    flex: 1 auto;
}
.loubia-desc > img {
    margin-left: 150px;
    height: auto;
    width: 100px;
}
.loubia-desc > p {
    text-align: start;
    width: 100px;
}

